.filepond--wrapper {

}

.filepond--list {
  background-color: #f28773;
  border-radius: 7px;
}

label {
  color: #161616;
}

.filepond--item-panel {
  border-radius: 0;
}

.filepond--file-action-button .filepond--action-retry-item-load {
  visibility: visible;
  opacity: 1;
}

.filepond--processing-complete-indicator {
  visibility: visible !important;
  opacity: 1 !important;
}
