.filepond--root {
  border-radius: 10px;
  font-family: 'Geist', sans-serif;
}

.filepond--drop-label {
  background-color: var(--color-primary-500);
  border-radius: 7px;
}

label {
  color: var(--color-neutral-900);
}

.filepond--file-action-button .filepond--action-retry-item-load {
  visibility: visible;
  opacity: 1;
}

.filepond--processing-complete-indicator {
  visibility: visible !important;
  opacity: 1 !important;
}
