@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: "Cal Sans";
  src: url("./assets//fonts/CalSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* FONTS */
  --font-nunito: "Nunito", "ui-sans-serif", "system-ui";
  --font-inter: '"Inter"', "ui-sans-serif", "system-ui";
  --font-geist: "Geist", "ui-sans-serif", "system-ui";
  --font-cal-sans: "Cal Sans", "ui-sans-serif", "system-ui";

  /* COLORS */
  --color-primary-100: #e5eaec;
  --color-primary-200: #cbd5d9;
  --color-primary-300: #b2bfc5;
  --color-primary-400: #98aab2;
  --color-primary-500: #7e959f;
  --color-primary-600: #65777f;
  --color-primary-700: #4c595f;
  --color-primary-800: #323c40;
  --color-primary-900: #191e20;
  --color-neutral-100: #e0e0e0;
  --color-neutral-200: #faf9f6;
  --color-neutral-800: #1e1e1e;
  --color-neutral-900: #121212;

  /* ANIMATIONS */
  --fade-in-up: fade-in-up 0.8s ease-in-out;
  --slide: slide 0.8s ease-in-out;
  --bounce-in: bounce-in 1s infinite;
  --slide-left: slide-left 0.5s ease-in-out;
  --slide-right: slide-right 0.5s ease-in-out;
  --slide-in-left-button: slide-in-left-button 0.5s ease-in-out forwards;
  --slide-out-left-button: slide-out-left-button 0.5s ease-in-out;
  --fade-in: fade-in 0.5s ease-in-out;
}

@layer utilities {
  .color-mix {
    background-color: color-mix(
      in hue,
      var(--color-primary-500) 40%,
      var(--color-neutral-900) 60%
    );
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    filter: blur(3px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    filter: blur(3px);
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

@keyframes bounce-in {
  0%,
  100% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes slide-view-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-in-left-button {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(24rem);
  }
}

@keyframes slide-out-left-button {
  from {
    transform: translateX(24rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-view-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

/* View Transition API */
.slide-editor::view-transition-old(root) {
  animation: slide-view-left 0.5s ease-in-out;
}

.slide-editor::view-transition-new(root) {
  animation: slide-right 0.5s ease-in-out;
}

::view-transition-old(root) {
  animation: slide-left 0.5s ease-in-out;
}

::view-transition-new(root) {
  animation: slide-view-right 0.5s ease-in-out;
}
